footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-div-gauche{
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-div-droite{
    position: fixed;
    right: 0;
    bottom: 0;
}
.bodyChaises{
    background-color: aqua
}
.textChaise{
    text-align: center;
    color: aliceblue;
    font-family:Papyrus;
}
.pChaise{
    font-size: x-large;
}
img{
    width: 350px;
    height: 375px;
    padding: 10px;
}
.lien{
    color: aliceblue;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    font-family:Papyrus;
}
